<h2><%= @beer_club.name %>, <%= @beer_club.city %></h2>
<p>Founded: <%= @beer_club.founded %></p>

<h3>Members:</h3>
<ul>
	<% @confirmed_memberships.each do |m| %>
		<% if m.confirmed %>
			<li><%= link_to m.user.username, user_path(m.user_id) %></li>
		<% end %>
	<% end %>
</ul>

<% if @already_member %>
	<%= form_for(@membership) do |f| %>
		<%= f.hidden_field :user_id %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club", class:"btn btn-primary"%>
	<% end %>
<% else %>
	<%= form_for(@membership, method: "delete") do |f| %>
			<%= f.hidden_field :user_id %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership", class:"btn btn-primary btn-danger"%>
   <% end %>
<% end %>

<% if @unconfirmed %>
	<h3>Unconfirmed members:</h3>
	<ul>
		<% @unconfirmed.each do |m| %>
			<li><%= m.user.username %> <%= link_to "confirm membership", confirm_membership_path(m.id), method: :post, class: "btn btn-primary" %></li>
		<% end %>
	</ul>

<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>