<p id="notice"><%= notice %></p>
  
<h2><%= @beer_club.name %>, <%= @beer_club.city %></h2>
<p>Founded: <%= @beer_club.founded %></p>

<h3>Members:</h3>
<ul>
	<% @beer_club.users.each do |u| %>
		<li><%= link_to u.username, u %></li>
	<% end %>
</ul>

<% if @already_member %>
	<%= form_for(@membership) do |f| %>
		<%= f.hidden_field :user_id %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club", class:"btn btn-primary"%>
	<% end %>
<% else %>
	<%= form_for(@membership, method: "delete") do |f| %>
			<%= f.hidden_field :user_id %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership", class:"btn btn-primary btn-danger"%>
   <% end %>
<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>