<h2><%= @place.name %></h2>
<p>Type: <%= @place.status %></p>
<p>Street: <%= @place.street %></p>
<p>City: <%= @place.city %></p>
<p>Phone: <%= @place.phone %></p>
<p>Overall: <%= @place.overall %></p>
<iframe src=<%= @place.blogmap %> width="650" height="350">